.container{
    background-color: rgb(42, 42, 71);
    height: 100vh;
    padding-top: 50vh;
    
}

.content{
    border: 1px solid white;
    border-radius: 15px 15px 15px 15px;
    width: 300px;
    
    text-align: center;
    margin: 0 auto;
}

img{
    width: 200px;
    margin-top: 20px;
    border-radius: 15px 15px 15px 15px;
}

.ethereum{
    display: inline;
    margin: 20px;
  
}